.info {
  color: #1c54b2;
}
.delete {
  color: #b2102f;
  position: absolute;
  bottom: 8px;
  right: 25px;
}
.complete {
  position: absolute;
  bottom: 8px;
  right: 50px;
}
.icon {
  font-size: 30px;
  cursor: pointer;
}
.hide {
  color: #000000;
  font-size: 30px;
}
.edit {
  color: #72cf0e;
}
